@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e; 
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:  purple;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 10px;
}

.avat {
    width: 280px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0px;
}

.information {
    margin-bottom: 14px;
}

/*
    @media (max-width 000px) {
    .info {
        display...
    }
    }

*/
.card{
    border-radius: 10px;
    padding: 11px 17px;
    margin-bottom: 10px;
}

.bg-green{
    background: cornflowerblue;
}

.bg-red{
    background: aquamarine;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #f1f1f1;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.list {
    padding: 0 20px;
}

/* .list li {
    color:
}
*/

.table {
    width: 100%;
} 

.table th {
    text-align: left;
    padding-bottom: 20px;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(3) {
    color: navy;
}

.form-row{
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
    border: none;
    color: black;
    font-family: inherit;
}
.form h2 {
    text-align: center;
}

.form label {
    display: block;
}


.form textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: black;
    font-family: inherit;
}